* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Kanit", sans-serif;
  background-color: rgb(236, 231, 225);
}
body .navbar {
  z-index: 99;
  background-color: transparent;
  width: 100%;
  height: 80px;
  top: 0px;
  left: 0px;
  padding: 1% 3% 0% 3%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: fixed;
  mix-blend-mode: difference;
}
body .navbar .nav_logo {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: bold;
}
body .navbar .nav_navgtion {
  width: 25%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  color: rgb(255, 255, 255);
}
body .navbar .nav_navgtion li {
  font-size: 24px;
  margin-left: 10px;
}
body .navbar .nav_navgtion li:hover {
  text-decoration: underline;
  transition: 0.9 cubic-bezier(1, 0.01, 0.88, 0.1);
}
body .section_1 {
  margin: auto;
  padding: 120px 3% 0% 3%;
  background-color: rgb(236, 231, 225);
  height: 1200px;
}
body .section_1 .title {
  display: flex;
  flex-flow: column wrap;
  font-size: 160px;
  margin-bottom: 40px;
  line-height: 120px;
  height: 240px;
  text-align: start;
}
@media screen and (max-width: 1380px) {
  body .section_1 .title {
    font-size: 140px;
    line-height: 100px;
    height: 200px;
  }
}
@media screen and (max-width: 1228px) {
  body .section_1 .title {
    font-size: 120px;
    line-height: 80px;
    height: 160px;
  }
}
@media screen and (max-width: 1005px) {
  body .section_1 .title {
    height: 284px;
    font-size: 85px;
    line-height: 60px;
    justify-content: flex-end;
    font-weight: 300;
  }
}
body .section_1 .img_1#mask {
  width: 60%;
  height: 300px;
  overflow: hidden;
  position: absolute;
  top: 43% vh;
}
@media screen and (max-width: 1228px) {
  body .section_1 .img_1#mask {
    height: 200px;
  }
}
@media screen and (max-width: 1005px) {
  body .section_1 .img_1#mask {
    height: 300px;
    top: 435px;
  }
}
body .section_1 .img_1 #unblock {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(./img/2ewq.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 90%;
  width: 100%;
  height: 300px;
  cursor: -webkit-grabbing;
  cursor: grabbing;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
body .section_1 .img_1 #unblock:hover {
  background-size: 100%;
}
@media screen and (max-width: 1228px) {
  body .section_1 .img_1 #unblock {
    height: 200px;
  }
}
@media screen and (max-width: 1005px) {
  body .section_1 .img_1 #unblock {
    height: 300px;
    background-position: 15% 65%;
  }
}
body .section_1 .intro_name {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 375px;
}
@media screen and (max-width: 1005px) {
  body .section_1 .intro_name {
    margin-top: 300px;
  }
}
body .section_1 .intro_name .intro {
  margin-top: 80px;
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
@media screen and (max-width: 1228px) {
  body .section_1 .intro_name .intro {
    width: 45%;
  }
}
body .section_1 .intro_name .intro i {
  margin-left: 10px;
  align-self: flex-end;
  font-size: 96px;
}
@media screen and (max-width: 1228px) {
  body .section_1 .intro_name .intro i {
    font-size: 70px;
  }
}
@media screen and (max-width: 1005px) {
  body .section_1 .intro_name .intro i {
    position: absolute;
    right: 50px;
    top: 900px;
  }
}
body .section_1 .intro_name .intro .intro_1 {
  margin-right: 3%;
  width: 300px;
  font-size: 22px;
}
@media screen and (max-width: 1005px) {
  body .section_1 .intro_name .intro .intro_1 {
    position: absolute;
    top: 190px;
    width: 400px;
    margin-left: 10px;
    line-height: 26px;
  }
}
body .section_1 .intro_name .name {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  font-size: 130px;
  width: 50%;
  line-height: 110px;
  height: 220px;
}
@media screen and (max-width: 1380px) {
  body .section_1 .intro_name .name {
    font-size: 120px;
    line-height: 100px;
    height: 200px;
  }
}
@media screen and (max-width: 1228px) {
  body .section_1 .intro_name .name {
    font-size: 110px;
    line-height: 90px;
    height: 180px;
  }
}
@media screen and (max-width: 1005px) {
  body .section_1 .intro_name .name {
    position: absolute;
    left: 0px;
    top: 760px;
    align-items: flex-start;
    font-size: 85px;
    font-weight: 300;
    line-height: 65px;
    margin-left: 25px;
  }
}
body .section_2 {
  margin: auto;
  padding: 120px 3% 0% 3%;
  background-color: rgb(236, 231, 225);
  height: 1200px;
}
body .section_2 .page {
  font-size: 32px;
  display: inline-block;
  position: relative;
  top: 40px;
}
@media screen and (max-width: 1005px) {
  body .section_2 .page {
    display: block;
  }
}
body .section_2 .about {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  width: 100%;
  right: 0px;
}
@media screen and (max-width: 1005px) {
  body .section_2 .about {
    display: block;
  }
}
body .section_2 .about .about_content {
  width: 70%;
  font-size: 40px;
  margin-right: 10%;
  position: relative;
  top: 100px;
}
@media screen and (max-width: 1228px) {
  body .section_2 .about .about_content {
    font-size: 30px;
  }
}
body .section_2 .about .about_content_1 {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 1005px) {
  body .section_2 .about .about_content_1 {
    flex-direction: column;
  }
}
body .section_2 .about .about_content_1 .about_psnlty {
  width: 20%;
  font-size: 22px;
  margin-left: 20%;
  margin-top: 120px;
}
@media screen and (max-width: 1005px) {
  body .section_2 .about .about_content_1 .about_psnlty {
    margin-left: 0%;
    width: 80%;
  }
}
body .section_2 .about .about_content_1 .about_dsc {
  width: 40%;
  font-size: 22px;
  margin-top: 120px;
  margin-right: 5%;
}
@media screen and (max-width: 1005px) {
  body .section_2 .about .about_content_1 .about_dsc {
    width: 80%;
  }
}
@media screen and (max-width: 1228px) {
  body .section_2 .about .about_content_1 {
    font-size: 20px;
  }
}
body .section_3 {
  margin: auto;
  padding: 120px 3% 200px 3%;
  background-color: rgb(236, 231, 225);
}
body .section_3 .work_title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
body .section_3 .work_title .page {
  font-size: 32px;
  display: inline-block;
  position: relative;
}
body .section_3 .work_title .recent {
  justify-self: center;
  font-size: 32px;
  margin-left: 40%;
  line-height: 28px;
}
body .section_3 .project {
  height: 1080px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 50px 0px 50px 0px;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1005px) {
  body .section_3 .project {
    flex-flow: column nowrap;
    position: relative;
    height: 800px;
  }
}
body .section_3 .project .project_info {
  height: 1080px;
  width: 50%;
}
@media screen and (max-width: 1005px) {
  body .section_3 .project .project_info {
    height: 400px;
  }
}
body .section_3 .project .project_info .project_name {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  font-size: 164px;
  font-weight: 300;
  margin-bottom: 20px;
  overflow: hidden;
}
@media screen and (max-width: 1380px) {
  body .section_3 .project .project_info .project_name {
    font-size: 150px;
    font-weight: 300;
  }
}
@media screen and (max-width: 1227px) {
  body .section_3 .project .project_info .project_name {
    font-size: 125px;
    font-weight: 300;
  }
}
@media screen and (max-width: 1005px) {
  body .section_3 .project .project_info .project_name {
    font-size: 85px;
    font-weight: 200;
  }
}
body .section_3 .project .project_info .project_name::after {
  content: "";
  position: absolute;
  left: 0;
  transition: 1.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  top: 189px;
  left: -100px;
  height: 16px;
  width: 10%;
  background-color: rgb(236, 231, 225);
}
@media screen and (max-width: 1380px) {
  body .section_3 .project .project_info .project_name::after {
    top: 172px;
  }
}
@media screen and (max-width: 1227px) {
  body .section_3 .project .project_info .project_name::after {
    top: 144px;
    transition: 1.8;
  }
}
@media screen and (max-width: 1005px) {
  body .section_3 .project .project_info .project_name::after {
    top: 97px;
    transition: 2.3;
  }
}
body .section_3 .project .project_info .project_name:hover::after {
  width: 10%;
  left: 600px;
}
body .section_3 .project .project_info .project_name .project_topic {
  letter-spacing: -5px;
  text-decoration: underline;
}
body .section_3 .project .project_info .project_name .project_dcr {
  font-size: 24px;
}
body .section_3 .project .project_img {
  width: 50%;
  height: 1080px;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-image: url(./img/cruuunchify-cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media screen and (max-width: 1005px) {
  body .section_3 .project .project_img {
    width: 100%;
    height: 500px;
    align-self: center;
    position: absolute;
    top: 260px;
  }
}
body .section_3 .project .project_img_2 {
  width: 50%;
  height: 1080px;
  background-image: url(./img/cruuunchify-cover-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body .section_4 {
  margin: auto;
  padding: 120px 3% 0% 3%;
  background-color: rgb(236, 231, 225);
  height: 900px;
}
body .section_4 .contact_title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
body .section_4 .contact_title .page {
  font-size: 32px;
  display: inline-block;
  position: relative;
}
body .section_4 .contact_title .wanna {
  justify-self: center;
  font-size: 32px;
  margin-left: 30%;
  line-height: 28px;
}
body .section_4 .contact_title .sendmss {
  justify-self: center;
  font-size: 32px;
  margin-left: 20%;
  line-height: 28px;
}
body .section_4 .email {
  padding: 50px 0 50px 0;
  width: 100%;
}
body .section_4 .email a {
  -webkit-text-decoration: underline 10px;
          text-decoration: underline 10px;
  color: rgb(31, 31, 31);
  font-size: 214px;
  line-height: 180px;
}
@media screen and (max-width: 1380px) {
  body .section_4 .email a {
    font-size: 190px;
  }
}
@media screen and (max-width: 1228px) {
  body .section_4 .email a {
    font-size: 155px;
  }
}
@media screen and (max-width: 1005px) {
  body .section_4 .email a {
    font-size: 155px;
    overflow-wrap: break-word;
  }
}
body .section_4 .footer {
  width: 100%;
  height: 240px;
  padding-bottom: 20px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
body .section_4 .footer .sign {
  font-size: 32px;
  line-height: 30px;
}/*# sourceMappingURL=css.css.map */